body {
	font-family: 'Open Sans', sans-serif;
	background:url(../images/background-pattern.png) repeat;
	font-size: 14px;
	overflow-x: hidden;
	color: $dark_blue;
	font-weight: bold;
}
h1,h2,h3,h4,h5,h6 {
	font-family: $main-font;
}
a:hover {
	text-decoration: none;
	color: $soft_pink !important;
}
.no-float {
	float: $no-float;
}
.outline {
	display: none;
	visibility: none;
}
.wrapper {
	background: $white;
	border-radius: $rounded2x;
	margin: 15px auto;
	padding: 25px 0;
}