// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$soft_pink:				#f04ca4;
$dark_blue:				#1a1b40;
$cyan:					#2bb4bf;
$white:					#FFFFFF;




$transparent:			transparent;
$reset:					0px;
$rounded:				3px;
$rounded2x:				6px;
$main-font:				'Unkempt';
$no-float:				none;