
@media (max-width: $screen-xs-max) { 
	.home  {
		article {
			.pull-left:last-child {
				width: 100% !important;
			}
		}
	}
}
@media (max-width: $screen-xs-max) and (orientation: portrait) {
	.home  {
		article {
			.read-more {
				right: -10px;
				top: -5px;
			}
		}
	}
}
@media (min-width: $screen-sm-min) {
	
}
@media (max-width: $screen-sm-max) { 
	header {
		.navbar-default {
			.navbar-header {
				.navbar-brand {
					width: 80%;
				}
			}
			.navbar-collapse {
				.navbar-nav {
					li {
						a {
							@extend .text-center;
						}
					}
				}
			}
		}
	}

}
@media (min-width: $screen-md-min) {
	
}
@media (max-width: $screen-md-max) { 
	.navbar-header {
		@extend .text-center;
		@extend .no-float;
		.navbar-brand {
			@extend .no-float;
			display: inline-block;
			height: 100%;
			width:100%;
			img {
				display: inline-block;
			}
		}
	}
	.home  {
		article {
			.pull-left:last-child {
				width: 65%;
			}
		}
	}
}
@media (min-width: $screen-lg-min) { 
	.wrapper {
		width: 1250px;
		header {
			.navbar-default {
				.navbar-header {
					float: left;
					.navbar-brand  {
						float: left;
					}
				}
				.navbar-nav {
					margin-left: 60px;
				}
			}
		}
	}
	.home  {
		article {
			.pull-left:last-child {
				width: 75%;
			}
		}
	}
}
