
@media (max-width: $screen-xs-max) { 
	.home , .blog , .search , .archive , .single .tweet {
		article {
			.pull-left:last-child {
				width: 100% !important;
			}
			.read-more {
				right: 20px !important;
			}
		}
	}
	.tweet{
		left: 19%;
	}
	.single {
		.tweet {
			left: 66% !important;
		}
	}
}
@media (max-width: $screen-xs-max) and (orientation: portrait) {
	.home , .search , .blog , .archive  {
		article {
			.read-more {
				right: 20px;
				top: -5px;
			}
		}
	}
	.tweet{
		top: -10px;
		left: 7% !important;
	}
	.single {
		.tweet {
			top: -17px;
			left: 79% !important;
		}
	}
}
@media (min-width: $screen-sm-min) {
	
}
@media (max-width: $screen-sm-max) { 
	header {
		.navbar-default {
			.navbar-header {
				.navbar-brand {
					width: 80%;
				}
			}
			.navbar-collapse {
				.navbar-nav {
					li {
						a {
							@extend .text-center;
						}
					}
				}
			}
		}
	}

}
@media (min-width: $screen-md-min) {
	
}
@media (max-width: $screen-md-max) { 
	.navbar-header {
		@extend .text-center;
		@extend .no-float;
		.navbar-brand {
			@extend .no-float;
			display: inline-block;
			height: 100%;
			width:100%;
			img {
				display: inline-block;
			}
		}
	}
	.home , .search , .blog , .archive  {
		article {
			.pull-left:last-child {
				width: 69%;
			}
			.read-more {
				top: -5px;
  				right: 8px;
			}
		}
	}
	.sharedaddy {
		.sd-content {
			ul {
				margin-left: 100px!important;
			}
		}
	}
	.tweet {
		left: 19%;
	}
	.single {
		.tweet {
			left: 47%;
		}
	}
}
@media (max-width: $screen-md-max)  and (orientation: portrait)  {
	.home , .search , .blog , .archive  {
		article {
			.pull-left:last-child {
				width: 70%;
			}
			.read-more {
				top: -35px;
  				right: -22px;
			}
		}
	}
	.single {
		.tweet {
			left: 41%;
		}
	}
}
@media (min-width: $screen-lg-min) { 
	.wrapper {
		width: 1250px;
		header {
			.navbar-default {
				.navbar-header {
					float: left;
					.navbar-brand  {
						float: left;
					}
				}
				.navbar-nav {
					margin-left: 30px;
				}
			}
		}
	}
	.home , .search , .blog , .archive  {
		article {
			.pull-left:last-child {
				width: 75%;
			}
		}
	}
}
