.footer {
	background: $cyan;
	padding: 10px 0;
	color: $white;
	font-size: 12px;
	h3 {
		font-size: 20px;
	}
	a {
		color: $white;
		&:hover {
			color: $dark_blue !important;
		}
	}
	ul {
		padding: $reset;
		list-style: none;
		li {
			line-height: 15px;
		}
	}
	.widget_cnss_widget {
		@extend .col-md-3;
		.cnss-social-icon {

			&:before {
				content: "Our social media channel";
				margin-bottom: 15px;
				display: block;
			}
			text-align: left !important;
			li.Twitter {
				a {
					img {
						background: $white;
					}
				}
			}
			li {
				a {
					img {
						width: 35px;
						height: 35px;
					}
				}
			}
		}
	}
	

}