header {
	.navbar-default {
		background-color: $transparent;
		border-color: $transparent;
		.navbar-toggle {
			border: $reset;
			background: $soft_pink;
			&:focus {
				background: $soft_pink;
			}
			&:hover {
				background: $dark_blue;
			}
			.icon-bar {
				background: $white;
			}
		}
		.navbar-nav {
			.active  {
				a {
					background-color:transparent;
					color: $soft_pink;
					&:hover , &:focus {
						background-color:transparent;
						color: $soft_pink;
					}
				}
			}
			.open {
				.dropdown-menu {
					border: $reset;
					padding: $reset;
					box-shadow: none;
					width: 80%;
  					margin: 0 auto;
  					a {
						border-bottom: 1px solid #F2F2F2;
						margin: 5px 0;
					}
				}
				a {
					background: transparent;
					&:focus , &:hover , &:active {
						background: transparent;
						color: $soft_pink;
					}
				}
			}
			li {
				a {
					font-family: $main-font;
					font-size: 23px;
					color: $cyan;
					&:focus {
						  color: $soft_pink;
					}
				}
			}
		}
		.navbar-header {
			.navbar-toggle {
				margin-top: 50px;
			}
		}
	}
	.subscription-box {
		padding: 10px 5px 15px;
		margin: 15px auto 0;
		border-radius: $rounded2x;
		background: $soft_pink;
		color: $white;
		h3 {
			margin: 10px 0;
			font-size: 20px;
		}
		input {
			background: $white;
			border: $reset;
			border-radius: $rounded;
			width: 70%;
			padding: 8px;
		}
		input[type="submit"] {
			background: #ea017d;
			width: 15%;
			margin-left: 2px;
		}
		input[type="email"] {
			  color: #6F6F6F;
		}
	}
}