.sidebar {
	border: 1px solid #efefef;
	border-radius: $rounded;
	padding-left: $reset;
	margin-bottom: 30px;
	width: 100%;
	padding:25px;
	@extend .text-center;
	.about-author {
		h1 {
			font-size: 30px;
			color: $soft_pink;
			margin: 5px 0 15px;
		}
		.thumbnail {
			margin-right: 10px;
			border: 0px;
			@extend .pull-left;
			img {
				border-radius: $rounded2x;
			}
		}
		p{
			@extend .text-left;
			color: $dark_blue;
			font-weight: bold;
			font-size: 14px;
		}
		.sharedaddy {
			@extend .hidden;
		}
	}
	.cnss-social-icon {
		margin: 25px 0;
		li {
			margin: 0 5px;
		}
	}
	.widget_search {
		position: relative;
		margin: 10px 0;
		button {
			border: $reset;
			&:hover {
				background: transparent;
			}
		}
		.search-field {
			border: 1px solid $cyan;
			border-radius: $rounded2x;
			width: 100%;
			padding: 21px 15px;
			&:focus {
				outline: none;
				box-shadow: none;
			}
		}
		button {
			position: absolute;
			right: 0px;
			top: 7px;
			background: transparent;
			color: $cyan;
		}
	}
	.text-4 {
		b {
			color: $soft_pink;
		}
		h3 {
			background: $dark_blue !important;
		}
		hr {
			margin: 10px 0;
		}
	}
	.widget_recent_entries , .text-4 {
		h3 {
			background: $cyan url('../images/live.png') 5% center no-repeat;
			color: $white;
			padding: 8px 0;
			margin: 35px 0 15px;
			text-transform: uppercase;
			font-size: 19px;
		}
		a {
			color: $dark_blue;
			font-size: 13px;
			margin-left: 15px;
		}
		ul {
			list-style-type: none;
			padding: $reset;
			li {
				@extend .text-left;
			}
		}
	}
	.rpjc_widget_cat_recent_posts-6 {
		h3 {
			background: $soft_pink url('../images/love.png') right center no-repeat;
		}
	}
	.rpjc_widget_cat_recent_posts-4 {
		h3 {
			background: $dark_blue url('../images/learn.png') 5% center no-repeat;
		}
	}
	.rpjc_widget_cat_recent_posts-5 {
		h3 {
			background: $cyan url('../images/go.png') 95% center no-repeat;
		}
	}
}
.wp_bannerize {
	margin: 25px 0 0; 
}
.wp-bannerize-support {
	@extend .hidden;
}